aiohttp[speedups]==3.8.6
psutil==5.8.0
pyjwt==2.4.0
tenacity==7.0.0

# Sanic
sanic==20.12.7

# GraphQL
#graphene==2.1.8
#graphql-server-core==1.1.0
#sanic-graphql
graphene==3.0.0b7
graphql-server[sanic]==3.0.0b3
aiodataloader==0.2.0

# Database
sqlalchemy==1.4.14
asyncpg==0.22.0

# Database migration
alembic==1.6.2

# Cache
aioredis==1.3.1

# Instrument
sentry-sdk
